// globals

// breakpoints
$breakpoint-smaller-phone: 390px;
$breakpoint-small-phone: 442px;
$breakpoint-phone: 490px;
$breakpoint-tablet: 550px;
$breakpoint-phablet: 640px;
$breakpoint-footer: 750px;
$breakpoint-air: 1000px;
$breakpoint-big-tablet: 1120px;

// branded colors
$color-background: white;
$color-hero-font: white;
$color-body-font: #000000;
$color-body-font-alt: #a8a8a8;
$color-footer-background: #EFEFEF;
$color-pending-background: #FF5E5B;
$color-slider-background: #3eaeff;
$color-slider-header: #3EAEFF;

// forms
$color-input: #979797;

// buttons
$color-button: #000000;
$color-button-border: #000000;
$color-button-background: #EFEFEF;
$color-button-hover: white;

// action colors
