// slider styles

.page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0,0,0,0.8);
    opacity: 0.8;
}

.page-slider {
    transition: transform 0.25s;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 370px;
    background-color: white;
    z-index: 21;
    right: -370px;
    &.-is-open {
        transform: translateX(-370px);
    }
}