/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco Bold";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
h1 {
  font-size: 18px;
  font-family: "San Francisco Bold";
  color: white;
  line-height: 1.2;
}

p {
  color: #000000;
  line-height: 1.4;
  margin-bottom: 40px;
}
p a {
  color: #5c6369;
}
p.hero__copy {
  color: white;
  margin: 0;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 40px;
  color: #5c6369;
  list-style: circle;
  padding-left: 30px;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  background-color: white;
  color: #000000;
  font-family: "San Francisco", "Arial", "San-Serif";
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}
body.-lock {
  overflow: hidden;
}

.page-wrap {
  padding-bottom: 100px;
  overflow: auto;
}

.hero-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 54px 20px 0;
}

.body-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 54px 20px 0;
}

.body-content_bullet {
  transition: all 0.25s;
  margin-bottom: 20px;
  line-height: 1.4;
}
.body-content_bullet.-indent {
  position: relative;
  padding-left: 40px;
}
.body-content_bullet .radio-button {
  transition: all 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid black;
  display: none;
}
.body-content_bullet .radio-button:before {
  display: none;
}
.body-content_bullet .radio-button.-selected {
  background-color: #19B17C;
  border: 1px solid #19B17C;
}
.body-content_bullet .radio-button.-selected:before {
  padding-left: 2px;
  font-size: 14px;
  padding-top: 1px;
  color: white;
  display: block;
}

.hero__task-details {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.hero__task-from {
  opacity: 0.7;
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #EFEFEF;
  height: 66px;
}
.main-footer .main-footer__container {
  position: relative;
  text-align: center;
  padding: 25px;
  display: none;
}

.main-navigation {
  height: 66px;
}

.main-navigation__container {
  padding: 20px;
}

.main-navigation__logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.main-navigation__header {
  text-align: center;
  padding: 6px 130px;
}

.main-navigation__button {
  transition: all 0.25s;
  position: absolute;
  right: 20px;
  top: 20px;
}
.main-navigation__button:hover {
  right: 21px;
  top: 21px;
}

.section-home {
  max-width: 1015px;
  margin: 100px auto 120px;
}

.section-pending, .section-accepted, .section-completed {
  transition: all 0.25s;
  background-color: #FF5E5B;
  min-height: 416px;
  border-bottom-left-radius: 50% 40px;
  border-bottom-right-radius: 50% 40px;
}

.section-accepted {
  background-color: #FFBB62;
}

.section-completed {
  background-color: #11C194;
}

input {
  border: 0;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #979797;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button, .button {
  transition: all 0.250s;
  border: 2px solid #000000;
  background-color: #EFEFEF;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 30px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 10px;
}
button:hover, .button:hover {
  background-color: white;
}

.button--block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.button--completed {
  border: 2px solid #11C194;
  background-color: #11C194;
  color: white;
}
.button--completed:hover {
  border: 2px solid #11C194;
  background-color: #11C194;
  color: white;
}

.button--pin {
  margin: 0;
  padding: 10px;
  border: none;
  color: white;
  background-color: #3EAEFF;
  font-weight: normal;
  border: 1px solid #3EAEFF;
}
.button--pin:hover {
  background-color: white;
  color: #3EAEFF;
}

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.page-slider {
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 370px;
  background-color: white;
  z-index: 21;
  right: -370px;
  overflow: auto;
}
.page-slider.-is-open {
  -webkit-transform: translateX(-370px);
  -ms-transform: translateX(-370px);
  transform: translateX(-370px);
}

.page-slider_header {
  width: 100%;
  height: 186px;
  background-color: #3eaeff;
}

.page-slider_content {
  text-align: center;
  padding: 0 30px;
  font-size: 14px;
}

.page-slider__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background-color: #EFEFEF;
}
.page-slider__footer .page-slider__footer-container {
  text-align: center;
  padding: 25px;
}

.page-slider_heading {
  margin: 20px 0;
  font-weight: bold;
  font-size: 18px;
}

.page-slider_subheading {
  margin-bottom: 20px;
}

.page-slider_instructions {
  font-size: 12px;
  color: #a8a8a8;
  margin-top: 20px;
}

.page-slider_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 30px 30px;
  text-align: center;
  font-size: 14px;
}

.page-slider_footer--text {
  margin-bottom: 20px;
  text-align: left;
}

.page-slider--accepted, .page-slider--progress {
  position: relative;
  display: none;
  height: 100%;
}
.page-slider--accepted h3, .page-slider--progress h3 {
  font-size: 16px;
  padding: 17px 40px;
  font-weight: bold;
}

.page-slider_close-button {
  position: absolute;
  left: 14px;
  top: 16px;
  text-decoration: none;
}
.page-slider_close-button:hover {
  text-decoration: none;
}

.page-slider_nav {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  width: 100%;
  height: 50px;
  background-color: #FFBB62;
}
